<div class="add-user-wrapper container has-blurred-white-bg">
    <h2 class="is-bold">Add User</h2>
    
    <form #form="ngForm" ngNativeValidate (ngSubmit)="onFormSubmit(form)">
        <div class="form-field">
            <label class="form-label">Full Name</label>
            <input class="textbox" ngModel #textField="ngModel" name="name" type="text" placeholder="User Full Name">
        </div>

        <div class="form-field">
            <label class="form-label">mail</label>
            <input class="textbox" ngModel #textField="ngModel" name="mail" type="mail" placeholder="mail@mail.com" required>
        </div>

        <div class="btns-container">
            <a routerLink="../" class="btn">Cancel</a>
            <button class="btn align-end">Create User</button>
        </div>
    </form>
</div>