<div class="edit-task-wrapper container has-blurred-white-bg">
    <h2 class="is-bold">Edit Task</h2>
    
    <p *ngIf="!task">Task not found</p>
    
    <form #form="ngForm" (ngSubmit)="onFormSubmit(form)" *ngIf="task">
        <div class="form-field">
            <input class="textbox" [ngModel]="task.title" #titleField="ngModel" name="title" type="text" placeholder="Enter task title..." required minlength="3">
            <ng-container *ngIf="titleField.invalid">
                <p *ngIf="titleField.errors.required">Please enter a task title</p>
                <p *ngIf="titleField.errors.minlength">Title must be at least 3 characters</p>
            </ng-container>
        </div>

        <div class="form-field">
            <textarea class="textarea" [ngModel]="task.content" name="content" placeholder="Enter task content..."></textarea>
        </div>

        <div class="btns-container">
            <a routerLink="../" class="btn">Cancel</a>
            <button type="button" class="btn" (click)="deleteNote()">Delete</button>

            <button class="btn align-end">Save</button>
        </div>
    </form>
</div>